*{
    margin: 0;
    padding: 0;
}

body{ 
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F2F6F7;
    
    font: 20px monospace;
}

/* BUTTONS */
button { 
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}
button:focus {
    outline: none;
}
button:hover{
    opacity: 0.9;
    cursor: pointer;
}

/* RESULTS HEADER */
.r-header{
    margin: 1em;
}

/* OPTION CONTAINER */
.o-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 100%, 1fr, 100%, 1fr;
    grid-template-columns: repeat(4, 1fr);
}

/* BUTTON COLORS */
#a-btn{ background-color: #56A3A6; }
#b-btn{ background-color: #DB504A; }
#c-btn{ background-color: #E3B505; }

/* CHART */
.c-container{
    width: 60%;
}